<div class="game-menu-page">
    <p>Bienvenue, <span id="username"></span>!</p>
    
    <!-- Statut de connexion WebSocket -->
    <div class="connection-status-container">
        <span id="connection-status" class="connection-status disconnected">disconnected</span>
    </div>
    
    <div class="menu">
        <button id="quick-game-btn" class="menu-btn">Partie Rapide</button>
        <button id="join-custom-game-btn" class="menu-btn">Rejoindre une partie personnalisée</button>
        <button id="create-custom-game-btn" class="menu-btn">Créer une partie personnalisée</button>
        <button id="options-btn" class="menu-btn">Options</button>
    </div>
</div>

