<div class="game-menu-page">
    <p>Bienvenue, <span id="username"></span> <span id="connection-status" class="connection-status disconnected">disconnected</span></p>
    
    
    <div class="menu">
        <button id="quick-game-btn" class="menu-btn btn">Partie Rapide</button>
        <button id="join-custom-game-btn" class="menu-btn btn">Rejoindre une partie personnalisée</button>
        <button id="create-custom-game-btn" class="menu-btn btn">Créer une partie personnalisée</button>
        <button id="options-btn" class="menu-btn btn">Options</button>
    </div>
</div>

