<div class="landing-page">

    
    <div class="auth-options">
        <button id="google-login-btn" class="auth-btn google-btn">
            <img src="./images/google-icon.png" alt="Google" class="btn-icon">
            Connexion avec Google
        </button>
        
        <button id="email-login-btn" class="auth-btn email-btn">
            Connexion
        </button>
        
        <button id="signup-btn" class="auth-btn signup-btn">
            Inscription
        </button>
    </div>
</div>

