
<p>Bienvenue, <span id="username"></span>!</p>

<!-- Statut de connexion WebSocket -->
<div class="connection-status-container">
    <span id="connection-status" class="connection-status disconnected">disconnected</span>
</div>

<div class="menu">
    <button id="quick-game-btn">Partie Rapide</button>
    <button id="custom-game-btn">Rejoindre une partie</button>
    <button id="custom-game-btn">Créer une partie</button>
    <button id="options-btn">Options</button>
</div>

<!-- Boutons Game Channels -->


<button id="logout-btn">Déconnexion</button> 