<div class="player-waiting-page">
    <div class="container-waiting-players">
        <p>Nombre de joueurs dans votre partie : <span id="waiting-players-count">1</span></p>
    </div>
    <div class="custom-code">
        <p>Code de la partie : <span id="custom-code">123456</span></p>
    </div>
    <p id="waiting-message">Merci de patienter, un bouton "Je suis prêt" apparaitra lorsque qu'il y aura assez de joueurs.</p>
    <p id="already-confirmation">les autre joueurs valident et on commencera la partie.</p>
    <p>Si vous voulez quitter la partie, merci de le faire en cliquant sur le bouton "Quitter la partie" pour ne pas perturber les autres joueurs.</p>
    <button id="go-to-game" class="btn btn-ready-game">Je suis prêt</button>
    <button id="back-to-game-menu-btn" class="btn btn-quit-game">Quitter la partie</button>
    

</div>