/* Styles de base */
body { 
    margin: 0;          /* supprime les marges par défaut */
    padding: 0;         /* supprime les padding par défaut */
    width: 100vw;       /* largeur = largeur de la fenêtre */
    height: 100vh;      /* hauteur = hauteur de la fenêtre */
    min-height: 100vh;  /* garantit la hauteur minimale */

}
#wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: fixed;       /* reste immobile */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/landingPage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;           /* passe derrière tout le reste */
  }
  

.titre-image {
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 28vh;
    width: auto;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column; /* empile les éléments */
    justify-content: center; /* centre verticalement */
    align-items: center;     /* centre horizontalement */
    width: 100%;
    max-width: 300px;
}
h1 {
    text-align: center;
    color: #000000;
}

h2 {
    text-align: center;
    color: #000000;
}

p {
    text-align: center;
    color: #000000;
} 

.btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: #222c26;
    box-shadow: inset 2px 2px 4px rgba(50, 61, 50, 0.1), inset -2px -2px 4px rgba(50, 61, 50, 0.2);
    background: #caddc0;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    font-size: 16px;
    font-weight: 600;
    border: 0px groove #93a18c;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn {
    padding: 5px;
    margin-top: 25px;
}

.btn:hover {

    transform: translateY(-2px);
    background: rgb(171, 186, 163);
    box-shadow: inset 2px 2px 4px rgba(50, 61, 50, 0.1), inset 1px 1px 2px rgba(50, 61, 50, 0.3);
}