#game-code {
    padding: 15px;
    border: 0px solid #ddd;
}

.form-group {
    display: flex;
    align-items: center; /* aligne label et input verticalement */
    gap: 8px; /* espace entre label et input */
    justify-content: flex-start; /* ou center si tu veux centrer horizontalement le groupe */
    white-space: nowrap; /* empêche le retour à la ligne */
}
  
  .form-group input {
    flex: 1; /* prend tout l’espace disponible */
    min-width: 0;        /* permet à flex de réduire la largeur si nécessaire */
  }

  