<h1>Yuan Game - Authentification</h1>

<%= render 'login_form' %>

<div id="debug-info">
  <h3>Informations de debug (console)</h3>
  <p>Ouvrez la console du navigateur (F12) pour voir les logs de l'authentification.</p>
</div> 